.landing-containr {
  padding: 15px;
}
.location-block, .dropdown-block {
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  transition: all 0.3s ease;
}
.location-block.focus, .dropdown-block.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-block .button {
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid #b1b1b1;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 1em;
  margin-right: 4px;
  color: #4c4c4c;
  z-index: 10;
  border-radius: 0px;
  border: 0px;
}
.dropdown-block .dropdown-container .button:hover {
  background-color: #f0f0f0
}  
.dropdown-block .button span {
  position: absolute;
  top: 40px;
  left: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  background: none;
  color: #a9a9a9;
  width: 90%;
  height: 30px;
  border: none;
  appearance: none;
  outline: none;
}
.dropdown-block .dropdown-container {
  padding-bottom: 0;
  width: 100%;
  border-radius: 0;
  border-top: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  font-size: 14px;
  padding: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.17255) 0 6px 12px 0;
  visibility: hidden;
}
.dropdown-block .dropdown-container.is-open {
  visibility: visible;
  z-index: 999;  
}
.dropdown-block .dropdown-container .dropdown {
  display: inline-block;
  margin: 0;
  border-top: 1px solid #cccccc;
  width: 100%;
}
.dropdown-block .dropdown-container .dropdown {
  width: 100%;
  margin: 0px;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.location-label, .dropdown-label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #5a6674;
  z-index: 50;
}

.location-input {
  position: absolute;
  top: 40px;
  left: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  background: none;
  color: #5a6674;
  width: 90%;
  height: 30px;
  border: none;
  appearance: none;
  outline: none;
}
.location-input::-webkit-search-cancel-button {
  appearance: none;
}
.location-input:focus {
  border-bottom: 1px solid #009688;
}

.landing-container .location-box {
  height: 80px;
  padding: 10px 0 10px 10px;
}
.landing-container .location-box .search-button {
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

h3.header {
  font-family: 'Roboto', serif;    
  font-size: 2em;  
  text-align: center;  
  padding-bottom: 20px
}

/* Results */ 
.resultsContainer {
  background-color: #e4e4e4;
  justify-content: center;
  width: 100%;
  display: flex;  
}

/* Results > card */
.resultsCard {
  padding: 10px;
  align-self: center;
}
.resultsCard div.imageCard {
  position: relative;
  display: inline-block;
  width: 100%;  
}

.imageCard span.imageTitle {
  font-family: 'Roboto', serif;
  font-style: bold;
  font-weight: 600;
  display: block;  
  font-size: 1.7vw;
  position: absolute; 
  top: 40%; 
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;  
  left: 0; 
  text-align: center;    
  width: 100%; 
}

.imageCard .after {
  padding: 10px 10px;
}

.imageCard .after span {
  font-family: 'Roboto', serif;
  display: block;  
  font-size: 1.3vw;
  padding: 2px;
  color: white;
  width: 100%; 
}

/** Hover over effect */
.imageCard .after {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.imageCard:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}

.imageCard:hover .imageTitle { visibility: hidden; }

/* Feedback form */
.feedback span {
  font-family: 'Roboto', serif;    
  font-size: 1.5vw;  
  text-align: center;  
}

.feedback p {
  font-family: 'Roboto', serif;    
  font-size: 1.5em;  
  text-align: center; 
}

/* No results found */
.noResultsText {
  font-family: 'Roboto', serif;    
  align-content: center;
  text-align: center; 
}

@media (max-width: 992px) {
  .imageCard .after span { font-size: 1.5em; }
  .imageCard span.imageTitle { font-size: 2em; }
  .feedback p { font-size: 1.5em; }
}