a.title {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 1.8em;
    padding-left: 30px;
    padding-top: 25px;
    text-decoration: none;
    color: #4A4AF1 !important;
}
a.title:hover {
    color: #4A4AF1;
}

nav.navbar {
    height: 50px;
}

ul.navbar-nav {
    margin-right: 30px;
}

a#submit-link {
    position: absolute;
    margin: 30px 30px 0 0;
    right: 0;
}

div.footer {
    margin-top: 20px;
    height: 100px;
    font-size: 0.8em;
    text-align: center;
    background-color: rgb(220, 220, 220)
}