a.title {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
    font-size: 1.8em;
    padding-left: 30px;
    padding-top: 25px;
    text-decoration: none;
    color: #4A4AF1 !important;
}
a.title:hover {
    color: #4A4AF1;
}

ul.navbar-nav {
    margin-right: 30px;
}

@media screen and (min-width: 1024px) {
    nav.navbar { align-items: center; }
}

li.nav-item {
    text-align: center;
}

div.footer {
    margin-top: 20px;
    height: 100px;
    font-size: 0.8em;
    text-align: center;
    background-color: rgb(220, 220, 220)
}